<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{.Title}}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/res/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/res/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
  <nav class="light-blue lighten-1" role="navigation">
	  <div class="nav-wrapper container" margin="0"><a id="logo-container" href="/" class="brand-logo"><img src="{{.Logo}}" alt="Logo"/></a>
      <ul class="right hide-on-med-and-down">
	      <li><a href="/{{if not .Datafields}}extended{{end}}">{{.ChangeSearchType}}</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
	      <li><a href="/{{if not .Datafields}}extended{{end}}">{{.ChangeSearchType}}</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>
  <main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      {{if not .Results}}
      <h1 class="header center blue-text">EMDEN</h1>
      <div class="row center">
        <h6 class="header col s12 light">Easy Master Data Search Engine</h6>
      </div>
      {{end}}
	      <form>
		{{if not .Datafields}}
      		<div class="input-field col s12">
	      		<input id="query" type="text" class="black-text" name="query">
	      		<label for="query">{{.Search}}</label>
      		</div>
		{{end}}
	      	{{with .Datafields}}{{range .}}
      			<div class="input-field col s12">
				<input id="search" type="text" class="black-text" name="{{.}}">
				<label for="{{.}}">{{.}}</label>
      			</div>
	      	{{end}}{{end}}
		<button class="btn waves-effect waves-light" type="submit">{{.Submit}}<i class="material-icons right">send</i></button>
	      </form>
      <br><br>
    </div>
  </div>
          {{with .Results}} {{range .}}
	  <div class="row container">
    		<div class="col s12">
      			<div class="card white">
        			<div class="card-content black-text">
				{{if .Title}}
					<span class="card-title">{{.Title}}</span>
				{{end}}
				{{range .}}
					<p>{{.}}</p>
				{{end}}
				{{if .Url}} {{if .Urltext}}
				<span class="card-action"><a href="{{.Url}}">{{.Urltext}}</a></span>
				{{end}} {{end}}
        			</div>
      			</div>
    		</div>
  	  </div>
	  {{end}} {{end}}
  </main>
  <footer class="page-footer blue">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="#">Felix Schütze</a>
      </div>
      <div class="container">
      Styles made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/res/materialize.js"></script>
  <script src="/res/init.js"></script>

  </body>
</html>

